/*ウィンドウ幅が最大767pxまでの場合に適用(タブレット用)*/
@media screen and (max-width: 767px) {

    .header {
        width: 250px;
    }
    .right {
        width: 100px;
    }
    .footer{
        width: 250px;
    }

}


/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {

    .header {
        height: 150px;
    }
    .right {
        width: 150px;
    }
    .footer {
        height: 200px;
    }

}