
.header{
	background-color: gray;
}

.footer{
	background-color: gray;
}

.headerlabel{
	display: inline-block;
	padding: 10px;
	color: white;
}

.footerlabel{
	display: inline-block;
	padding: 10px;
	color: white;
}

.date{
	display: inline-block;
	padding: 10px;
	font-size: 10px;
}

.login{
	padding-top:50px;
	padding-bottom:50px;
}

.code{
	text-align:center;
}